body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 75%;
    text-align: center;
  }
  
  input, button {
    padding: 10px;
    margin: 5px;
    width: 80%;
    font-size: 16px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 20%;
  }

  .buttons button {
    width: 35%;
    text-align: center;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #clearAllButton {
    background-color: #ff4d4d;
    margin-top: 10px;
  }
  
  #clearAllButton:hover {
    background-color: #e63946;
  }

  .completed {
    text-decoration: line-through;
    color: gray;
  }
